<h1>Payslip</h1>
{{this.payslip.employee?.firstName}} {{this.payslip.employee?.lastName}}
<!-- {{this.firstName}} -->
<div class="container">
        <form #payslipForm="ngForm">
                <div class="row">
                        {{'payslip.payDate' | translate}} {{this.payslip.payDate | date :'dd MMM yyyy'}}
                </div>
                <div class="row">
                     {{'payslip.frequencey' | translate}}   {{this.payslip.payFrequency}}
                </div>
                <div class="row">
                     {{'payslip.annualIncome' | translate}}    {{this.payslip.employee?.annualSalary}}
                </div>
                <div class="row">
                       {{'payslip.grossIncome' | translate}}{{this.payslip.grossIncome | number:'1.0-0'}}
                </div>
                <div class="row">
                       {{'payslip.incomeTax' | translate}} {{this.payslip.incomeTax}}
                </div>
                <div class="row">
                    {{'payslip.netIncome' | translate}}     {{this.payslip.netIncome}}
                </div>
                <div class="row">
                     {{'payslip.super' | translate}}    {{this.payslip.superPay}}
                </div>
                <div class="row">
                    {{'payslip.pay' | translate}}     {{this.payslip.pay}}
                </div>
        </form>
        <button type="button" class="btn btn-primary mr-2" (click)="pay()" value="Submit">
                Pay
        </button>
        <button type="button" class="btn btn-secondary ml-5 rounded" (click)="navigateBack()" value="Submit">
                Back
        </button>
</div>

