<h1>Payslip</h1>
{{this.payslip.employee?.firstName}} {{this.payslip.employee?.lastName}}
<!-- {{this.firstName}} -->
<div class="container">
        <form #payslipForm="ngForm">
                <div class="row">
                        Pay Date {{this.payslip.payDate | date :'dd MMM yyyy'}}
                </div>
                <div class="row">
                        Pay Frequency {{this.payslip.payFrequency}}
                </div>
                <div class="row">
                        Annual Income {{this.payslip.employee?.annualSalary}}
                </div>
                <div class="row">
                        Gross Income {{this.payslip.grossIncome | number:'1.0-0'}}
                </div>
                <div class="row">
                        Income tax {{this.payslip.incomeTax}}
                </div>
                <div class="row">
                        Net Income {{this.payslip.netIncome}}
                </div>
                <div class="row">
                        Super {{this.payslip.super}}
                </div>
                <div class="row">
                        Pay {{this.payslip.pay}}
                </div>
        </form>
        <button type="button" class="btn btn-primary mr-2" (click)="pay()" value="Submit">
                Pay
        </button>
        <button type="button" class="btn btn-secondary ml-5 rounded" (click)="navigateBack()" value="Submit">
                Back
        </button>
</div>